table,
th,
td {
  /* border: 2px solid white; */
  border-collapse: collapse;
}

table {
  width: 40%;
}

th,
td {
  padding: 5px;
}

th {
  text-align: left;
}

tr:nth-child(odd) {
  background-color: rgba(0, 0, 0, 0.2);
}

tr:nth-child(even) {
  background-color: rgb(255, 255, 255);
}
