.yazi {
  text-align: center;
  font-size: 2rem;
  width: 50vw;
  margin: 2rem auto;
}

.yazi1 {
  background-color: aqua;
  transform: rotateX(180deg);
}

.yazi2 {
  background-color: hotpink;
  transform: rotateY(180deg);
}

.yazi3 {
  background-color: tomato;
  /* transform: rotate(90deg); */
}

.yazi4 {
  background-color: violet;
}

.yazi4:hover {
  transform: scaleX(1.005);
}

.yazi5 {
  background-color: yellowgreen;
}
